In [5]:
import warnings
warnings.filterwarnings('ignore')

In [6]:
# Dependencies
import numpy as np
import pandas as pd
import math
import decimal
import requests
import time
from pprint import pprint 
from matplotlib import pyplot as plt
import os
import json
import urllib.request
from sqlalchemy import create_engine

In [7]:
nyc_census_tracts_data = "Datasets/nyc_census_tracts.csv"
nyc_census_tracts_data_df = pd.read_csv(
    nyc_census_tracts_data)
nyc_census_tracts_data_df.head()

,CensusTract,County,Borough,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,36005000100,Bronx,Bronx,7703,7133,570,29.9,6.1,60.9,0.2,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
1,36005000200,Bronx,Bronx,5403,2659,2744,75.8,2.3,16.0,0.0,...,2.9,0.0,0.0,43.0,2308,80.8,16.2,2.9,0.0,7.7
2,36005000400,Bronx,Bronx,5915,2896,3019,62.7,3.6,30.7,0.0,...,1.4,0.5,2.1,45.0,2675,71.7,25.3,2.5,0.6,9.5
3,36005001600,Bronx,Bronx,5879,2558,3321,65.1,1.6,32.4,0.0,...,8.6,1.6,1.7,38.8,2120,75.0,21.3,3.8,0.0,8.7
4,36005001900,Bronx,Bronx,2591,1206,1385,55.4,9.0,29.0,0.0,...,3.0,2.4,6.2,45.4,1083,76.8,15.5,7.7,0.0,19.2

In [8]:
nyc_census_tracts_data_list = ["CensusTract", "County", "Borough", "TotalPop","Hispanic", "White", "Black", "Native", "Asian", "Income", "IncomePerCap", "Poverty", "Employed", "Unemployment"]
new_nyc_census_tracts_data_df = nyc_census_tracts_data_df[nyc_census_tracts_data_list].copy()
new_nyc_census_tracts_data_df = new_nyc_census_tracts_data_df.rename(columns={"CensusTract": "censustract"})

new_nyc_census_tracts_data_df.head()

,censustract,County,Borough,TotalPop,Hispanic,White,Black,Native,Asian,Income,IncomePerCap,Poverty,Employed,Unemployment
0,36005000100,Bronx,Bronx,7703,29.9,6.1,60.9,0.2,1.6,NaN,2440.0,NaN,0,NaN
1,36005000200,Bronx,Bronx,5403,75.8,2.3,16.0,0.0,4.2,72034.0,22180.0,20.0,2308,7.7
2,36005000400,Bronx,Bronx,5915,62.7,3.6,30.7,0.0,0.3,74836.0,27700.0,13.2,2675,9.5
3,36005001600,Bronx,Bronx,5879,65.1,1.6,32.4,0.0,0.0,32312.0,17526.0,26.3,2120,8.7
4,36005001900,Bronx,Bronx,2591,55.4,9.0,29.0,0.0,2.1,37936.0,17986.0,37.1,1083,19.2

In [60]:
new_nyc_census_tracts_data_df.columns
new_nyc_census_tracts_data_df = new_nyc_census_tracts_data_df.rename(columns={'County':'county', 'Borough':'borough', 'TotalPop':'totalpop', 'Hispanic':'hispanic', 'White':'white',
       'Black':'black', 'Native':'native', 'Asian':'asian', 'Income':'income', 'IncomePerCap':'incomepercap', 'Poverty':'poverty',
       'Employed':'employed', 'Unemployment':'unemployment'})

In [10]:
rds_connection_string = "arun:postgres@localhost:5442/census_airbnb_db"
engine = create_engine(f'postgresql://{rds_connection_string}')
engine.table_names()

['census_data', 'airbnb_data']

In [66]:
# Load DataFrames into database
new_nyc_census_tracts_data_df.to_sql(name='census_data', con=engine, if_exists='append', index=False)